<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>{{ title }}</title>

    <style>
        .updated .card-header {
            animation: updated ease-out 500ms 1;
        }

        @keyframes updated {
            0% {
                background-color: rgb(230, 253, 212);
            }
            100% {
                background-color: inherit;
            }
        }

        #last-message-container {
            display: none;
        }

        .feature-title {
            font-weight: bold;
        }
    </style>
</head>

<body>

<header class="container">
    <h1>{{ title }}</h1>
</header>

<main class="container">
    <div class="row pb-2">
        <div class="col">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>State:</strong> <span id="state">?</span>
                        {% if simulator_url != "" %}
                        <span class="float-end"><a href="{{ simulator_url }}" target="_blank">Open Simulator</a> </span>
                        {% end %}
                    </li>
                    <li  class="list-group-item" id="last-message-container">
                        <code id="last-message"></code>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row {{ cols }}" id="devices"></div>

</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<script src="index.js"></script>

<script>
    const showLastMessage = false;
    const socketOverride = "wss://dashboard-ctron-octoprint.apps.wonderful.iot-playground.org/socket";

    if(showLastMessage) {
        $("#last-message-container").show();
    }

    function setState(state, err) {
        let msg = state;
        if (err !== undefined) {
            msg += ` (${err})`;
        }
        $("#state").text(msg);
    }

    function connect() {
        setState("Connecting");

        let address = location.origin.replace(/^http/, 'ws') + '/socket';
        if (typeof socketOverride !== 'undefined') {
            address = socketOverride;
        }
        const websocket = new WebSocket(address);
        websocket.onopen = () => {
            setState("Connected");
        };
        websocket.onmessage = (evt) => {
            $("#last-message").text(evt.data);
            updateDevice(JSON.parse(evt.data));
        };
        websocket.onclose = (e) => {
            setState("Connection lost");
            setTimeout(() => {
                connect();
            }, 1000);
        };
        websocket.onerror = (e) => {
            setState("Error", e)
            console.error("WebSocket failed: ", e);
            websocket.close();
        };
    }
    connect();
</script>

</body>

</html>